/* NEUTROLIZE EVERYTHING*/
*{
	margin: 0;
	padding: 0;
}

/* FONT FAMILY AND EXECUTION*/

@font-face {
  font-family: "neuropolx", "Open Sans";
  src: url(../assets/fonts/neuropolx.ttf);
}

/*STANDARD TING*/

h1 {
	font-family: "neuropolx";
}

h2 {
	font-size: 2.2vw;
	font-family: "Open Sans";
	line-height: 1.5em;
}

 h3, h4, h5, h6, p, strong, em {
	font-family: "Open Sans";
	color: #fff;
}

body {
	background-image: url(../../assets/img/esport_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	max-width: 1920px;
	top: 0;
	width: 100%;
	background-color: white;
	text-align: center;
}

.logo img {
  height: -webkit-fill-available;
  width: auto;
	text-align: center;
  height: 60px;
  width: 300px;
}

#order_form {
	background-color: #333333;
    width: 30%;
    height: auto;
    margin: 5vw auto;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    text-align: center;
}

#order_form p {
	color: #fff;
}

input, select {
    height: 2vw;
    border-radius: 1vw;
    border: none;
    padding-left: 1vw;
    outline: none;
    margin-bottom: 1vw;
    width: 90%;
    margin: auto auto 0.5vw;
}


.more-space {
	margin-bottom: 1vw;
}

.row-container {
	flex-direction: row;
}

.row-container p {
    display: inline-block;
    margin-left: 6vw;
    margin-right: 7vw;
}

#date-start, #date-finish {
    width: 42.5%;
}

select {
	width: 45%;
}

.row-container2 p {
	margin-top: 1.5vw;
}

.row-container2 .text-left{
	display: inline-block;
    width: 45%;
}

.row-container2 .text-right{
	display: inline-block;
    width: 45%;
}


#checkbox {
    width: 45%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

button {
	height: 4vw;
    border-radius: 1vw;
    border: none;
    padding-left: 1vw;
    outline: none;
    background-color: #e5732b;
    color: #fff;
    font-size: 2vw;
    width: 90%;
    margin: 2vw auto 0.5vw;
}

.box-add {
	width: 28vw;
    height: 28vw;
    background-color: #e5732b;
    border-radius: 450px;
    display: block;
    z-index: 100000000000000;
    position: absolute;
    top: 5em;
    right: 5em;
}

.box-add h2 {
	padding-top: 25%;
    padding-left: 7%;
    font-size: 2.6vw;
    color: #fff;
}

.box-add p {
	text-align: center;
}

.box-add em {
	text-align: center;
    font-size: 0.7vw;
}
