/* NEUTROLIZE EVERYTHING*/
*{
	margin: 0;
	padding: 0;
}

/* FONT FAMILY AND EXECUTION*/

@font-face {
  font-family: neuropol x, Open Sans;
  src: url(../assets/fonts/neuropol x.ttf);
}

/*STANDARD TING*/

h1 {
	font-family: neuropol x;
}

h2, h3, h4, h5, h6, p {
	font-family: Open Sans;
}


.container-1 {
	display: flex;
}

.item-1-3 {
	flex: 1;
}

.item-2-3 {
	flex: 2;
}

.item-3-3 {
	flex: 1;
}


/*NICOLINE UNDER HER*/



/*CECILIE UNDER HER*/



/*JOHNY UNDER HER*/
#testimonials-img1, #testimonials-img2, #testimonials-img3, #testimonials-img4 {
	height: auto;
	width: fill;
}

.show {
	display: block;
}

.hide {
	display: none;
}

/*MIKKEL UNDER HER*/
.button {
		background-color: #e5732b;
		height: 9.375em;
		border: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
						align-items: center;
		-webkit-justify-content: center;
						justify-content: center;
}

.button h2 {
font-size: 5em;
font-style: normal;
display: inline-block;
}

#map {
	width: 400px;
	height: 400px;
}
