/* NEUTROLIZE EVERYTHING*/
*{
	margin: 0;
	padding: 0;
}

/* FONT FAMILY AND EXECUTION*/

@font-face {
  font-family: "neuropol x", "Open Sans";
  src: url(../assets/fonts/"neuropol x".ttf);
}

/*STANDARD TING*/

h1 {
	font-family: "neuropol x";
}

h2 {
	font-size: 3em;
	font-family: "Open Sans";
	line-height: 1.5em;
}

 h3, h4, h5, h6, p {
	font-family: "Open Sans";
	color: #000;
}

header {
	max-width: 1920px;
	width: 100%;
	height: 64px;
	background-color: white;
}

.logo img {
  height: -webkit-fill-available;
  width: auto;
}

body {
	
}

.wrapper {
	background-size: cover;
}

.wrapper img {
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;


}


.container-1 {
	background-color: white;
    width: 35%;
    padding: 2.5em;
    border-radius: 25px;
    margin: auto;
    margin-top: 2.5em;
		opacity: .5;

}

.container-2 {
	background-color: #333;
    width: 75%;
		display: block;
		padding: 2.5em;
    border-radius: 25px;
    margin: auto;
    margin-top: 2.5em;
}

.item-1-3 {
	flex: 1;
}

.item-2-3 {
	flex: 2;
}

.item-3-3 {
	flex: 3;
	text-align: center;
	margin-bottom: 0.5em;
}

#order_form {
	margin: auto;
}

.contact_form{
	width: 100%;
	height: 2em;
	text-align: center;
}

/* Customize the label (the container) */
.container-cb {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-cb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-cb:hover input ~ .checkmark {
  background-color: #e5732b;
}

/* When the checkbox is checked, add a blue background */
.container-cb input:checked ~ .checkmark {
  background-color: #e5732b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-cb input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-cb .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
