/* NEUTROLIZE EVERYTHING*/
*{
	margin: 0;
	padding: 0;
}

/* FONT FAMILY AND EXECUTION*/

@font-face {
  font-family: neuropol x, Open Sans; 
  src: url(../assets/fonts/neuropol x.ttf);
}

/*NICOLINE UNDER HER*/



/*CECILIE UNDER HER*/



/*JOHNY UNDER HER*/



/*MIKKEL UNDER HER*/